*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Futura PT', sans-serif;
	text-transform: uppercase;
}

/* background && text colour */
.body {
	color: #ffffff;
	background: #55efc4;
}
/* This is the nav bar */
.topnav {
	overflow: hidden;
}

.topnav a {
	float: none;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 28px;
	font-weight: 500;
}

/* thsese are the pages*/
.page {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 5% 1fr 1fr 1fr 5%;
}
.page-horizon {
	height: 100vh;
}

/*Image grid*/
.image-container {
	margin-bottom: 100px;
	grid-column: 4/4;
	align-self: end;
}
.button-container {
	overflow: hidden;
	height: 500px;
	align-self: center;
	justify-self: center;
	display: flex;
}
.team {
	overflow: hidden;
	height: 500px;
	align-self: center;
	justify-self: center;
	display: flex;
}
/*The text on the side*/
.details {
	grid-column: 2/3;
	align-self: end;
}
h1 {
	color: #ffffff;
	font-size: 64px;
	font-weight: 800;
}
.details h2 {
	color: #2d3436;
	font-size: 42px;
	font-weight: 500;
}
.details p {
	color: #2d3436;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 50px;
}
a {
	color: #ffffff;
	text-decoration: none;
}

/* this works for iphones  */
@media screen and (max-width: 600px) {
	.details {
		width: 100%;
	}
	h1 {
		color: #ffffff;
		font-size: 48px;
		font-weight: 800;
	}
	.details h2 {
		color: #2d3436;
		font-size: 24px;
		font-weight: 500;
	}
	.details p {
		color: #2d3436;
		font-size: 18px;
		font-weight: 300;
		margin-bottom: 50px;
	}
}
